body {
    background-color: #f8f9fa;
    padding: 50px 0;
}

.container-md {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

label {
    font-size: 15px;
    color:#00007dbb;
}

.add-new {
    font-size: 15px;
    color:#0000ffbb;
    text-decoration: none;
    cursor: pointer;
}

.sidebar-label {
    font-size: 15px;
    color:#00000080;
}

::placeholder {
    color: #6c757d;
    font-size: 14px;
}

.form-select {
    color: #6c757d;
    font-size: 14px;
    height: 45px;
    margin-bottom: 0;
}

input {
    height: 45px;
}

.btn {
    font-size: 13px;
    padding: 10px 25px;
}

.step {
    display: none;
}

.step.active {
    display: block;
}

.error-message {
    color: red;
    font-size: 13px;
    display: none;
}

.sidebar-item-active {
    background-color: #F4F6F9;
    border-radius: 10px;
}

.sidebar-item-active i{
    color: #5D78FF;
}